{%- if site.email -%}
            <a href="mailto:{{ site.email | encode_email }}" title="email"><span style="color: #A82E26">
                <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 5px" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
            </span></a>
            {% endif %}
            {%- if site.telegram_username -%}
            <a href="https://telegram.me/{{ site.telegram_username }}" title="telegram"><i class="fab fa-telegram"></i></a>
            {% endif %}
            {%- if site.whatsapp_number -%}
            <a href="https://wa.me/{{ site.whatsapp_number }}" title="whatsapp"><i class="fab fa-whatsapp"></i></a>
            {% endif %}
            {%- if site.orcid_id -%}
            <a href="https://orcid.org/{{ site.orcid_id }}" title="ORCID">
                <span style="color: #A82E26;">
                <img src="/assets/img/orcid.png" width="26px" style="margin-bottom: 7px;">
                </span>
            {% endif %}
            {%- if site.scholar_userid -%}
            <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar">
                <span style="color: #A82E26;">
            <i class="ai ai-google-scholar" ></i>
        </a>
         </a>
        </span>
            {% endif %}
            {%- if site.semanticscholar_id -%}
            <a href="https://www.semanticscholar.org/author/{{ site.semanticscholar_id }}" title="Semantic Scholar">
                <span style="color: #A82E26;"><i class="ai ai-semantic-scholar"></i></a></span>
            {% endif %}
            {%- if site.publons_id -%}
            <a href="https://publons.com/a/{{ site.publons_id }}/" title="Publons"><i class="ai ai-publons"></i></a>
            {% endif %}
            {%- if site.osf_id -%}
            <a href="https://osf.io/{{ site.osf_id }}/" title="Open Science Framework"><i class="ai ai-osf"></i></a>
            {% endif %}
            {%- if site.research_gate_profile -%}
            <a href="https://www.researchgate.net/profile/{{site.research_gate_profile}}/" title="ResearchGate"><i class="ai ai-researchgate"></i></a>
            {% endif %}
            {%- if site.github_username -%}
            <a href="https://github.com/{{ site.github_username }}" title="GitHub">
                <span style="color: #A82E26;">
                    <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 5px" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                 </span></i></a>
            {% endif %}
            {%- if site.linkedin_username -%}
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">
                <span style="color: #A82E26;">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" style="margin-bottom: 5px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
            </span>
            </a>
            {% endif %}
            {%- if site.twitter_username -%}
            <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
                <span style="color: #A82E26;">
                    <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 5px" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>
            </span>
            </a>
            {% endif %}
            {%- if site.mastodon_username -%}
            <a rel="me" href="https://{{ site.mastodon_username  }}" title="Mastodon"><i class="fab fa-mastodon"></i></a>
            {% endif %}
            {%- if site.medium_username -%}
            <a href="https://medium.com/@{{ site.medium_username }}" title="Medium"><i class="fab fa-medium"></i></a>
            {% endif %}
            {%- if site.quora_username -%}
            <a href="https://www.quora.com/profile/{{ site.quora_username }}" title="Quora"><i class="fab fa-quora"></i></a>
            {% endif %}
            {%- if site.blogger_url -%}
            <a href="{{ site.blogger_url }}" title="Blogger"><i class="fab fa-blogger-b"></i></a>
            {% endif %}
            {%- if site.work_url -%}
            <a href="{{ site.work_url }}" title="Work"><i class="fas fa-briefcase"></i></a>
            {% endif %}
            {%- if site.wikidata_id -%}
            <a href="https://www.wikidata.org/wiki/{{ site.wikidata_id }}" title="Wikidata"><i class="fas fa-barcode"></i></a>
            {% endif %}
            {%- if site.wikipedia_id -%}
            <a href="https://wikipedia.org/wiki/User:{{ site.wikipedia_id }}" title="Wikipedia"><i class="fab fa-wikipedia-w"></i></a>
            {% endif %}
            {%- if site.strava_userid -%}
            <a href="https://www.strava.com/athletes/{{ site.strava_userid }}" title="Strava"><i class="fab fa-strava"></i></a>
            {% endif %}
            {%- if site.keybase_username -%}
            <a href="https://keybase.io/{{ site.keybase_username }}" title="Keybase"><i class="fab fa-keybase"></i></a>
            {% endif %}
            {%- if site.gitlab_username -%}
            <a href="https://gitlab.com/{{ site.gitlab_username }}" title="GitLab"><i class="fab fa-gitlab"></i></a>
            {% endif %}
            {%- if site.dblp_url -%}
            <a href="{{ site.dblp_url }}" title="DBLP"><i class="ai ai-dblp"></i></a>
            {% endif %}
            {%- if site.stackoverflow_id -%}
            <a href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}" title="Stackoverflow"><i class="fab fa-stack-overflow"></i></a>
            {% endif %}
            {%- if site.kaggle_id -%}
            <a href="https://www.kaggle.com/{{ site.kaggle_id }}" title="Kaggle"><i class="fab fa-kaggle"></i></a>
            {% endif %}
            {%- if site.lastfm_id -%}
            <a href="https://www.last.fm/user/{{ site.lastfm_id }}" title="Last FM"><i class="fab fa-lastfm"></i></a>
            {% endif %}
            {%- if site.spotify_id -%}
            <a href="https://open.spotify.com/user/{{ site.spotify_id }}" title="Last FM"><i class="fab fa-spotify"></i></a>
            {% endif %}
            {%- if site.pinterest_id -%}
            <a href="https://www.pinterest.com/{{ site.pinterest_id }}" title="Pinterest"><i class="fab fa-pinterest"></i></a>
            {% endif %}
            {%- if site.unsplash_id -%}
            <a href="https://unsplash.com/@{{ site.unsplash_id }}" title="Unsplash"><i class="fab fa-unsplash"></i></a>
            {% endif %}
            {%- if site.instagram_id -%}
            <a href="https://instagram.com/{{ site.instagram_id }}" title="Instagram"><i class="fab fa-instagram"></i></a>
            {% endif %}
            {%- if site.facebook_id -%}
            <a href="https://facebook.com/{{ site.facebook_id }}" title="Facebook"><i class="fab fa-facebook"></i></a>
            {% endif %}
            {%- if site.youtube_id -%}
            <a href="https://youtube.com/@{{ site.youtube_id }}" title="YouTube"><i class="fab fa-youtube"></i></a>
            {% endif %}
            {%- if site.discord_id -%}
            <a href="https://discord.com/users/{{ site.discord_id }}" title="Discord"><i class="fab fa-discord"></i></a>
            {% endif %}
            {%- if site.rss_icon -%}
            <a href="{{ site.baseurl }}/feed.xml" title="RSS Feed"><i class="fas fa-rss-square"></i></a>
            {% endif %}