---
layout: default
---

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script type="text/javascript" src="https://stamen-maps.a.ssl.fastly.net/js/tile.stamen.js?v1.3.0"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
</head>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css" /> -->




<!-- Panelbear Analytics - We respect your privacy -->
<script async src="https://cdn.panelbear.com/analytics.js?site=93OoYW0z85N"></script>
<script>
    window.panelbear = window.panelbear || function() { (window.panelbear.q = window.panelbear.q || []).push(arguments); };
    panelbear('config', { site: '93OoYW0z85N' });
</script>



<div class="post">

  <header class="post-header">
    <h3 class="post-title">
     {% if site.title != "blank" %}<span class="font-weight-thin">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
    </h3>
    <div>
      <span id="date" style="color: rgb(53, 52, 52); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"></span>.

    </div>



    <script>
      const dateElement = document.getElementById('date');
      const today = new Date();
      const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
      dateElement.textContent = today.toLocaleDateString('en-US', options);
    </script>
    
    <div>
      <span style="color: rgb(57, 56, 56); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">  </span>
      <span id="weather-text" style="color: rgb(65, 64, 64); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"></span>
      <html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beijing Weather Icon</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">
  <style>
    #weather-icon i {
      color: grey;
    }
  </style>
</head>
<body>
  <div id="weather-icon"></div>
    
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        const apiKey = '916a98b48a576641bb870cfd458d045f';
        const city = 'Beijing';
        const url = `https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${apiKey}&units=metric`;

        fetch(url)
          .then((response) => response.json())
          .then((data) => {
            const weatherCode = data.weather[0].id;
            const iconClass = `wi wi-owm-${weatherCode}`;
            $('#weather-icon').addClass(iconClass);
          })
          .catch((error) => console.error('Error fetching weather data:', error));
      });
    </script>

    
    <script>
      const textElement = document.getElementById('weather-text');
      const apiKey = '916a98b48a576641bb870cfd458d045f';
      const city = 'Beijing';
      const url = `https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${apiKey}&units=metric`;

      fetch(url)
        .then(response => response.json())
        .then(data => {
          const temperature = (data.main.temp).toFixed(1);
          const fahrenheit = ((temperature * 9/5) + 32).toFixed(1);
          const description = data.weather[0].description;
          textElement.textContent = `@${city} ${temperature}°C / ${fahrenheit}°F, ${description}.`;
        })
        .catch(error => {
          console.error('Error fetching weather data:', error);
          textElement.textContent = 'Unable to fetch weather data.';
        });
    </script>
    
   </small>

  </header>

  <br>
  <article>
    {% if page.profile %}
    <div class="profile float-right">
      {% if page.profile.image %}
        <img class="img-fluid rounded profile-image" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}" style="width:100%; margin-top: 30px; border: none; margin-left: -50px;">
      {% endif %}
    
    </div>
    <div class="profile-text">
      <div class="clearfix" style="width: 100%; max-width: 800px; padding-left: 52px;">
        {{ content }}
      </div>
    </div>

    {% endif %}
  
    <!-- {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %} -->
<!--   
    <aside class="sidebar">

      
      <br><br><br>
      
  
      
      <h5>Contact</h5> <br>
      <p class="desc">{{ page.description }}</p>

    
    <br><br>
      <h5>Updates</h5>

      <br>
      <ul>

        <li>
          <h6 class="item-title">Releasing large chat dataset</h6>
          <p class="item-content">
            After witnessing so many open-sourced general chat models, an increasingly clear fact is that diverse and systemic data is one of the most important thing.
            Building and releasing <a href="https://github.com/thunlp/UltraChat">UltraChat</a>, a large-scale, high-quality and diverse chat data.
          </p>
          <span class="item-date">April 2023</span>
        </li>


        <li>
          <h6 class="item-title">New paper published</h6>
          <p class="item-content">
            The <a href="https://www.nature.com/articles/s42256-023-00626-4">delta tuning</a> paper gets published on <a href="https://www.nature.com/natmachintell/">Nature Machine Inteligence</a>, and it is selected as the cover article of the journal's <a href="https://www.nature.com/natmachintell/volumes/5/issues/3"> March issue </a>.
          </p>
          <span class="item-date">April 2023</span>
        </li>

      
        <li>
          <h6 class="item-title">awarded ACL best demo paper</h6>
          <p class="item-content">
            <a href="https://github.com/thunlp/OpenPrompt">OpenPrompt</a> is awarded as the best demo paper at ACL 2022.
          </p>
          <span class="item-date">May 2022</span>
        </li>
        <<li>
          <iframe width="80%" height="300" style="margin-left: 20px;" src="https://api.maptiler.com/maps/openstreetmap/?key=2V215Qvhk6kDer0iYTH7#16.4/40.00006/116.31593"></iframe>
          </li> -->
        
        
        <!-- Add more list items as needed -->
      <!-- </ul> -->

   
    <!-- </aside> -->
     

  </article>

  <div class="post">


    <!-- <div style="background-color: #F9F7FB; padding: 15px; border-radius: 8px; max-width: 730px;">
      <p style="color: #402F7C; margin: 0;">
        I will be recruiting.
      </p>
    </div> -->

    <!-- <div class="news-infobox" style="border: 2px solid #828282; border-radius: 10px; padding: 10px; background-color: #FAFAF8; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); max-width: 730px; margin-left: -0px;">
     
      <ul style="list-style-type: none; padding: 0;">
        <li style="margin-bottom: 10px;">
          <h5 style="margin: 0; color: #3E3E3E;">Delta Tuning Paper Published</h5>
          <p style="margin: 5px 0;">The <a href="https://www.nature.com/articles/s42256-023-00626-4" style="color: #0076df;">delta tuning</a> paper gets published on <a href="https://www.nature.com/natmachintell/" style="color: #0076df;">Nature Machine Intelligence</a>, and it is selected as the cover article of the journal's <a href="https://www.nature.com/natmachintell/volumes/5/issues/3" style="color: #0076df;">March issue</a>.</p>
          <span style="color: #828282;">April 2023</span>
        </li>
        <li style="margin-bottom: 10px;">
          <h5 style="margin: 0; color: #3E3E3E;">Awarded ACL Best Demo Paper</h5>
          <p style="margin: 5px 0;"><a href="https://github.com/thunlp/OpenPrompt" style="color: #0076df;">OpenPrompt</a> is awarded as the best demo paper at ACL 2022.</p>
          <span style="color: #828282;">May 2022</span>
        </li>
      </ul>
    </div> -->

<!-- Add a sidebar with content -->

</article>




    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}
    {% if page.news %}
      {% include news.html %}
    {% endif %}




<br>





<h4>Awards</h4>
<ul>
  <li>Yunfan Award of WAIC, 2024.</li>
  <li>Young Elite Scientists Sponsorship Program by CAST, 2023.</li>
  <li>World Artificial Intelligence Conference Youth Outstanding Paper Award, 2023.</li>
  <li>Shuimu Tsinghua Scholar Program, 2023.</li>
  <li>Zhang Keqian Scholar Program, 2023.</li>
  <li>Outstanding Doctoral Dissertation of Tsinghua University, 2023.</li>
  <li>Outstanding Graduate of DCST, Tsinghua University, 2023.</li>
  <li><a href="https://www.2022.aclweb.org/best-demo-paper-award">ACL Best System Demonstration Paper Award</a>, 2022.</li>
  <li><a href="http://scholarship.baidu.com/">Baidu Ph.D Fellowship</a> (10 recipients worldwide), 2021.</li>
  <li>National Scholarship for Ph.D student, 2021.</li>
  <li>National Scholarship for Ph.D student, 2020.</li>
  <li>Tsingfeng Scholarship, Tsinghua University, 2019.</li>
  <li>CACS Scholarship, 2019.</li>
  <li>Excellent Graduate, 2018.</li>
  <li>National Scholarship for undergraduate student, 2018.</li>
  <li>First-class Academic Scholarship, 2017.</li>
  <li>First-class Academic Scholarship, 2016.</li>
</ul>

<h4>Service</h4>
<ul>
  <li>Nature Machine Intelligence</li>
  <li>Neural Networks</li>
  <li>NeurIPS 2020~2024</li>
  <li>ICML 2021~2024</li>
  <li>ACL 2020~2024</li>
  <li>EMNLP 2020~2024</li>
  <li>COLING 2020, 2022</li>
  <li>AAAI 2020~2024</li>
  <li>IJCAI 2020</li>
</ul>




<div align="center">
<!-- hitwebcounter Code START -->

<!-- hitwebcounter Code START -->
<a href="https://www.hitwebcounter.com" target="_blank">
<img src="https://hitwebcounter.com/counter/counter.php?page=7999605&style=0007&nbdigits=5&type=page&initCount=756" title="Free Counter" Alt="web counter"   border="0" /></a>                                    

</div>          
                                        
                                          
                                                        
                                    
                                        
                                                                   
                                        
